@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind no-scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
  